version: 2.1
orbs:
  node: circleci/node@5
  codecov: codecov/codecov@3
jobs:
  test:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - node/install-packages
      - run:
          name: setup qbittorrent
          command: |
            mkdir -p ~/bin && source ~/.profile
            wget -qO ~/bin/qbittorrent-nox https://github.com/userdocs/qbittorrent-nox-static/releases/download/release-4.4.5_v2.0.8/aarch64-qbittorrent-nox
            chmod 700 ~/bin/qbittorrent-nox
            qbittorrent-nox -d
            sudo mkdir /downloads
            mkdir ~/downloads
      - run:
          name: lint
          command: npm run lint
      - run:
          name: test
          command: npm run test:ci
      - store_test_results:
          path: ./junit.xml
      - codecov/upload
  release:
    executor:
      name: node/default
      tag: 'current'
    steps:
      - checkout
      - node/install-packages
      - run: npx semantic-release

workflows:
  version: 2
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - test
      - release:
          filters:
            branches:
              only:
                - master
          context:
            - npm
          requires:
            - test
